 *{margin: 0; padding:0}

 a {text-decoration: none;}

 .clearfix{overflow: auto}

 .wrapper {
 	margin: 0 auto;
 	width: 1000px;

 }
 .top-bar{
 	width: 1000px;
 	background: maroon;
 }

 .top-bar-links{
 	float: left;
 }

.top-bar-links ul {
	margin: 15px;
	list-style: none;
}

.top-bar-links ul li {
	padding:0 10px;
	display: inline-block;
	border-right: 1px solid white;
}

.top-bar-links ul li:last-child {
	border: none;
}
.top-bar-links ul li a {
	color:white;
}
 .site-search{
 	padding: 3px 5px 3px 10px;
 	margin: 15px;
 	float: right;
 	background: grey;
 	border-radius: 10px;
 }

 .site-search input {
 	border: 0;
 	float: left;
 }

 .site-search button {
 	width: 18px;
 	height: 18px;
 	background: url(../img/icons/search.png);
 	border:0;
 	float: right;
 }

header .logo {
  margin-top: 20px;
  margin-left: 20x;
  float: left;
}
header .logo h1 {
   font-size: 48px;
   font-weight: normal;
   letter-spacing: 1px;
   font-variant: small-caps;
 }

header .socialmedia {
  float: right;
  margin-top: 50px;
  margin-right: 20px;
}
header .socialmedia ul{list-style: none}
header .socialmedia ul li{
  display: inline
}

header .socialmedia ul li a {
  margin-left: 3px;
  padding: 6px;
  background: grey;
  color: #fff;
  display: inline-block;
  border-radius: 20px;
}

header .socialmedia ul li a:hover {
  background: orange;
}

nav{
  margin-top: 20px;
  background: #444;
  background: linear-gradient(#333, #444, #333);
  text-align: center;
  border-radius: 5px;

}

nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-transform: uppercase;
  margin: 10px 40px 10px 40px;
  display: inline-block;
}

nav ul li a:hover {
  color: orange;
}
