 *{margin: 0; padding:0}
 .wrapper {
 	margin: 0 auto;
 	width: 1000px;

 }
 .top-bar{
 	width: 1000px;
 	background: maroon;
 }

 .top-bar-links{
 	float: left; 	
 }

 .site-search{
 	float: right;
 }
